html{
    margin: 0;
    box-sizing: content-box;
}

header{
    height: 7vw;
    margin: .5vw;
    margin-left: .1vw;
    width: 97.7vw;
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw;
    width: 37vw;
    background-color:rgb(194, 193, 197);
    border-radius: 2vw;
}

.navbar button{
    text-decoration: none;
    margin-left: .5vw;
    margin-right: .5vw ;
    height: 6vw;
    border-radius: 2vw;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1vw solid rgb(194, 193, 197);
    border-radius: 2.5vw;
}

.gallery-container div{
    box-sizing: content-box;
    flex: 25%;
    padding: .5%;  
}

img{
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

@media screen and (max-width:1024px){
    .gallery-container div{
        flex: 46%;
    }
}

@media screen and (max-width:768px){
    .gallery-container div{
        flex: 98%;
    }
}
